.sideBar {
    composes: column from '../../styles/layout.css';
    composes: ubiquitiBlackBackground from '../../styles/colors.css';
    width: 350px;
    color: white;
}

.flexColumn {
    composes: column from '../../styles/layout.css';
    margin: 18px 16px 0px 12px;
}

.flexRowLeftAlign {
    composes: row from '../../styles/layout.css';
    margin-right: auto; 
    padding: 16px;
}

.flexRowRightAlign {
    composes: row from '../../styles/layout.css';
    margin-left: auto; 
    margin-right: 20px;
}

.blueButton {
    background: #16a0e0;
    color: white;
    border-color: #1c5371;
}

.buttonNoBackground {
    background: transparent; 
    border: none;
    color: #16a0e0;
}

.sideBarSubTitle {
    color: #8c8e9b;
    font-size: 16px;
}

.lineBreak {
    width: 90%;
    margin-top: 18px;
}