.radioButtonColumn {
  composes: column from "../../styles/layout.css";
}

.radioInput {
  display: none;
}

.itemLayout {
  list-style-type: none;
  display: flex;
  padding-top: 6px;
}

.centerLabel {
  display: flex;
  align-items: center;
}

.radioTitle {
  color: #afafaf;
}

.check {
  border: 2px solid #aaaaaa;
  border-radius: 100%;
  height: 13px;
  width: 13px;
  margin-right: 6px;
  cursor: pointer;
}

input[type="radio"]:checked ~ .check {
  border: 5px solid #16a0e0;
  height: 7px;
  width: 7px;
  background-color: white;
}

input[type="radio"]:checked ~ .check::before {
  background: #16a0e0;
}

.listSpace {
  margin: 0px;
  padding: 0px;
}
